@model IEnumerable<ProjetoTesteDDD.MVC.ViewModels.ClienteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-md-12">
        <p><b>Filtros:</b></p>
    </div>
</div>

@using (Html.BeginForm("Index","Clientes",FormMethod.Get))
{
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Código</label>
                <input type="text" class="form-control" id="clienteId" name="clienteId" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" name="submit" value="Pesquisar" />
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClienteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClienteId })
        </td>
    </tr>
}

</table>
